:root {
    --color-background: #F5F5FD;
    --color-background-opcoes: #FFFFFF;
    --color-black: #262626;
    --color-text-span: #8F8F8F;
    --color-background-navbar: #ECECF6;
    --color-background-transfer: #D4D4DE;
}


